# Default ignored files
/../../OPS_9.3./.idea/shelf/
/../../OPS_9.3./.idea/workspace.xml
# Datasource local storage ignored files
/../../../:\OPS_9.3.\.idea/dataSources/
/../../OPS_9.3./.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../OPS_9.3./.idea/httpRequests/
